[submodule "android-bluetooth"]
	path = android-bluetooth
	url = git@github.com:eaglesakura/android-bluetooth.git
[submodule "android-camera"]
	path = android-camera
	url = git@github.com:eaglesakura/android-camera.git
[submodule "android-command-service"]
	path = android-command-service
	url = git@github.com:eaglesakura/android-command-service.git
[submodule "android-devicetest-support"]
	path = android-devicetest-support
	url = git@github.com:eaglesakura/android-devicetest-support.git
[submodule "android-firebase"]
	path = android-firebase
	url = git@github.com:eaglesakura/android-firebase.git
[submodule "android-gms"]
	path = android-gms
	url = git@github.com:eaglesakura/android-gms.git
[submodule "android-text-kvs"]
	path = android-text-kvs
	url = git@github.com:eaglesakura/android-text-kvs.git
[submodule "android-unittest-support"]
	path = android-unittest-support
	url = git@github.com:eaglesakura/android-unittest-support.git
[submodule "garnet"]
	path = garnet
	url = git@github.com:eaglesakura/garnet.git
[submodule "geo-utils"]
	path = geo-utils
	url = git@github.com:eaglesakura/geo-utils.git
[submodule "greendao-wrapper"]
	path = greendao-wrapper
	url = git@github.com:eaglesakura/greendao-wrapper.git
[submodule "junit-support"]
	path = junit-support
	url = git@github.com:eaglesakura/junit-support.git
[submodule "light-saver"]
	path = light-saver
	url = git@github.com:eaglesakura/light-saver.git
[submodule "margarineknife"]
	path = margarineknife
	url = git@github.com:eaglesakura/margarineknife.git
[submodule "onactivityresult-invoke"]
	path = onactivityresult-invoke
	url = git@github.com:eaglesakura/onactivityresult-invoke.git
[submodule "simple-logger"]
	path = simple-logger
	url = git@github.com:eaglesakura/simple-logger.git
[submodule "small-aquery"]
	path = small-aquery
	url = git@github.com:eaglesakura/small-aquery.git
[submodule "json-wrapper"]
	path = json-wrapper
	url = git@github.com:eaglesakura/json-wrapper.git
[submodule "publd-serializer"]
	path = publd-serializer
	url = git@github.com:eaglesakura/publd-serializer.git
[submodule "android-commons"]
	path = android-commons
	url = git@github.com:eaglesakura/android-commons.git
